<!--
<%= form_tag gossip_index_path do %>
  <label>Gossip title:</label><br>
  <%= text_field_tag :'gossip[title]' %><br>

  <label>Gossip content:</label><br>
  <%= text_area_tag :'gossip[content]' %><br>

  <%= submit_tag "Submit Gossip" %>
<% end %>
-->

<!-- Vue du formulaire pour créer un nouveau gossip -->
<form action= <%= gossip_index_path %> method="POST">
<%= @user_id%>
      <h2 class="card-title">New Gossip:</h2><br />
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> > 
      <h3 class="card-title">Title:</h3>
      <input type="text" name="title"><br /> <br />
      <h3 class="card-title">Content:</h3>
      <input type="text" name="content"><br /> <br />
      <input type="submit" value="Validate">
</form>
  
  
